body {
  margin: 0;
  padding: 0;
}

h1, 
h2 {
  margin: 0 auto;
  text-align: center;
}

.book-container {
  border: solid 2px #000;
  margin: 0 10px 20px 10px;
}

.book {
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  border: solid 1px #d3d3d3;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 10px;
}

.add-btn {
  width: fit-content;
  align-self: flex-end;
}
